<!DOCTYPE html>
<html>
  <head>
    <title>Ruby WebSockets Chat</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Ruby WebSocket Chat</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expander="false" style="height: 1px;"></div>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1>Ruby WebSockets Chat</h1>
      <p>It's just an example using ruby and websockets in creating a chat.</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/rafael1789/ruby-websockets-chat" role="button">
          See the code on GitHub</a>
      </p>
    </div>
    
      <div id="error" class="bordered" style="display: none;">
        This browser has no native WebSocket support.<br/>
        Use a WebKit nightly or Google Chrome. 
      </div>

      <div id="questions" class="container text-center">
        <form id="input-form" class="form-inline">
          <div class="form-group">
            <input id="handle" type="text" class="form-control" placeholder="Enter name" autofocus />
          </div>
          <div class="form-group">
            <input id="input-channel" type="text" class="form-control" placeholder="Enter channel" autofocus />
          </div>
          <button id="submit-join" class="btn btn-primary join" type="button">Join!</button>
        </form>
      </div>

      <div id="channel" class="bordered container" style="display: none;">
        <div id="msgs">
          <ul>
            <li class="message" style="display: none">
              <span class="user"></span>
              <span class="message"></span>
              <span class="time"></span>
            </li>
            <li class="control" style="display: none">
              <span class="user"></span>&nbsp;<span class="message"></span>
              <span class="time"></span>
            </li>
          </ul>
        </div>
        <div id="input" class="container text-center">
          <form class="form-inline">
            <input id="message" type="text" class="form-control" />
          </form>
        </div>
      </div>

    <script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>
  </body>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">© Company 2015</p>
    </div>
  </footer>
</html>